<section class="py-8 antialiased dark:bg-gray-900 md:py-12 h-screen">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <!-- Heading & Filters -->
    <div class="mb-4 items-end justify-between space-y-4 sm:flex sm:space-y-0 md:mb-8">
      <div>
        <h2 class="mt-3 text-xl font-semibold text-gray-100 sm:text-2xl">Products</h2>
      </div>
    </div>
    <div class="mb-4 grid gap-6 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">

      @if (loading) {
      <div class="flex items-center justify-center text-3xl text-white">Loading...</div>
      }@else {

      @for (product of products; track $index) {
      <div
        class="rounded-lg border border-gray-700 p-4 shadow-lg transition-transform transform hover:scale-105 dark:bg-gray-800">
        <div class="h-56 w-full overflow-hidden rounded-lg">
          <img [src]="product.image" alt="product image" class="h-full w-full object-cover">
        </div>
        <div class="pt-4">
          <p class="text-lg font-semibold leading-tight text-gray-100">
            {{product.title}}
          </p>
          <div class="mt-4 flex items-center justify-between">
            <p class="text-2xl font-bold text-white">${{product.price}}</p>
            <button type="button"
              class="inline-flex items-center rounded-lg bg-blue-600 px-5 py-2 text-sm font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800">
              <svg class="-ml-1 mr-2 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6" />
              </svg>
              Add to cart
            </button>
          </div>
        </div>
      </div>
      }
      }
    </div>
  </div>
</section>